@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

nav {
  margin-bottom: 60px; 
  font-family: 'Comfortaa', cursive;
}

.bioImage {
  width:250px;
  height:auto;
  float: left;
  margin: 5px 20px 5px 5px;
}

.container {
  margin: 30px auto;
  backdrop-filter: blur(2px) grayscale(100%) brightness(50%);
  text-shadow:1px 1px 0px #8B4513;
  color: #F4A460;
  border-radius: 20px;
  padding: 20px;

}



body {
  background-image: url("./assets/crystal-crag.jpg");
  
  background-position: center center;
  background-repeat:no-repeat;
  font-family: 'Comfortaa', cursive;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #4682B4;
  border-radius: 10px;
}

.figure-caption {
  color: #FFDEAD;
}

.portfolio-img {
  height: 350px;
  width: 350px;
}
